/*
 * iotweb.css
*/

html 
  {
  height: 100% ;
  }
html 
  {
  margin: 2px ;
  }
body
  {
  font-family: arial,Hlvetica,sans-serif ;
  font-size: 1.5vw ;
  padding: 0 ;
  }

.body_class
  {
  border: 2px solid black ;
  margin: 0 ;
  padding: 0 ;
  }

.heartbeat_div
  {
  border: 2px ;
  }

.heading_div
  {
  font-size: large ;
  background-color: #FB9902 ;
  color: #fff ;
  text-align: center ;
  vertical-align: middle ;
  }

.devices_table
  {
  width: 100% ;
  }
.devices_column_1
  {
  width: 30% ;
  }
.devices_column_2
  {
  width: 70% ;
  }

.devices_heading
  {
  font-size: larger ;
  text-align: center ;
  vertical-align: middle ;
  background-color: #FCCB1A ;
  color: #fff ;
  text-align: center ;
  }
.display_area_heading
  {
  font-size: larger ;
  text-align: center ;
  vertical-align: middle ;
  width: 100% ;
  background-color: #FCCB1A ;
  color: #fff ;
  text-align: center ;
  }

.display_area_tab_on ,
.display_area_tab_off
  {
  text-align: center ;
  width: 7.0vw ;
  border-top: 1px solid black ;
  border-left: 1px solid black ;
  border-right: 1px solid black ;
  }
.display_area_tab_on 
  {
  font-size: larger ;
  background-color: #FCCB1A ;
  }
.display_area_tab_off
  {
  background-color : transparent ;
  border-bottom: 1px solid black ;
  }

.chart_placeholder
  {
  width: 60.0vw ;
  height: 25.0vh ;
  }

.heartbeat_toggle_span
  {
  cursor: pointer ;
  }
.heartbeat_toggle_class
  {
  cursor: pointer ;
  }
.heartbeat_on
  {
  background-color : transparent ;
  }
.heartbeat_off
  {
  background-color : red ;
  }

.dev_list_td
  {
  vertical-align: top ;
  }

.device_list_table
  {
  background-color: #F7E0D4 ;
  width: 100% ;
  }
.device_list_tr
  {
  }
.device_list_type_td_heading ,
.device_list_type_td
  {
  text-align: right ;
  width: 40% ;
  }
.device_list_type_td_heading
  {
  font-weight: bolder ;
  padding-right: 0.5vw ;
  }
.device_list_id_td_heading ,
.device_list_id_td
  {
  text-align: left ;
  width: 60% ;
  }
.device_list_id_td_heading
  {
  font-weight: bolder ;
  padding-left: 0.5vw ;
  }
.device_list_id_td
  {
  /* height: 2.0vw ; */
  }
.device_list_id_div
  {
  text-align: left ;
  vertical-align: middle ;
  padding: 0.3vw ;
  corsor: inhearit ;
  }

/*
.device_list_activity_td
  {
  width: 5% ;
  }
.device_list_heartbeat_td
  {
  width: 5% ;
  }
*/

.activity_div_outer ,
.activity_div_outer_on ,
.activity_div_outer_prev ,
.activity_div_outer_off
  {
  /* height: 4.0vw ; */
  vertical-align: middle ;
  border-radius: 0.2vw ;
  position: relative ;
  cursor: pointer ;
  }
.activity_div_outer_on
  {
  background-color: darkgrey ;
  }
.activity_div_outer_prev
  {
  background-color: lightgrey ;
  }
.activity_div_outer_off
  {
  background-color: transparent ;
  }
.activity_div_inner
  {
  /* height: 1.4vw ; */
  /* width: 1.4vw ; */
  height: 1.0vw ;
  cursor: pointer ;
  font-size: smaller ;
  text-align: center ;
  vertical-align: middle ;
  background-color: yellow ;
  /* position: absolute ; */
  margin: 0.3vw ;
  }

.dev_heartbeat_good ,
.dev_heartbeat_warning ,
.dev_heartbeat_fail 
  {
  }
.dev_heartbeat_good
  {
  background-color: #F7E0D4 ;
  /* background-color: lightgreen ; */
  corsor: inherit ;
  }
.dev_heartbeat_warning
  {
  background-color: orange ;
  }
.dev_heartbeat_fail 
  {
  background-color: red ;
  }

.dev_item_status_class
  {
  font-weight: bold ;
  cursor: pointer ;
  }

.display_area_td
  {
  background-color: #F7E0D4 ;
  vertical-align: top ;
  }
.display_area_div
  {
  text-align: left ;
  margin-top: 2.0vh ;
  margin-left: 1.0vw ;
  margin-right: 1.0vw ;
  }
.display_area_status_div
  {
  text-align: center ;
  padding-bottom: 1.5vh ;
  }
.display_area_status_span
  {
  font-size: bigger ;
  font-weight: bold ;
  color: red ;
  }

.display_status_id_label
  {
  font-size: bigger ;
  font-weight: bold ;
  }
.display_status_label
  {
  font-weight: bold ;
  }
.display_status_value
  {
  }

